.contacts-page-section {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: rgb(151, 154, 157) !important;

}

