.banner-section {
    margin-top: 0;
    padding: 260px 0 100px 0;
    background-image: url("./assets/bannerr.jpg");
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: black;
    height: 100vh;
}
.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: start; */
    gap: 20px;
    padding: 40px;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    margin-top: 0px;
}
.banner-row {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
    /* padding: 40px; */
    flex-shrink: 0;
    width: 50%;
    max-width: 100%;
  

}
.banner-col {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
}

.banner h1 {
    font-size: 65px;
    color: #0a0342;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
    font-family: 'Times New Roman';
    justify-content: start;
    align-items: start;
    justify-items: start;
}

.banner p {
    color: black;
    font-size: 22px;
    font-family: 'Cabin';
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
}
 

.banner img {
    animation: updown 3s linear infinite;
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(-20px);
    }
}

.txt-rotate>.wrap {
    border-right: 0.08em solid #666;
}