.banner-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    background-image: url("./assets/bannerr.jpg");
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: black;
    height: 100vh;
    max-height: 100%;
}


.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 20px;


}

.banner-col h1 {
    font-size: 65px;
    color: #0a0342;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
    font-family: 'Times New Roman';
    justify-content: start;
    align-items: start;
    justify-items: start;
}

.banner-col p {
    color: black;
    font-size: 22px;
    font-family: 'Cabin';
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
}

.banner-button {
    background-color: rgb(4, 1, 65) !important;
    color: black;
    color: white;
    border: 1px solid transparent !important;
}

.banner-button:hover {
    color: orange !important;
    border-color: orange !important;
    background-color: transparent !important;
}


.banner img {
    animation: updown 3s linear infinite;
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(-20px);
    }
}

.txt-rotate>.wrap {
    border-right: 0.08em solid #666;
}

.banner-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    padding: 20px;
}

.banner-col h1 {
    font-size: 65px;
    color: #0a0342;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
    font-family: 'Times New Roman';
    justify-content: start;
    align-items: start;
    justify-items: start;
}

.banner-col p {
    color: black;
    font-size: 22px;
    font-family: 'Cabin';
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
}

.banner-button {
    background-color: rgb(4, 1, 65) !important;
    color: black;
    color: white;
    border: 1px solid transparent !important;
}