.footer-btn {
    background-color: white;
    color: black;
    border-color: black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.footer-btn:hover {
    background-color: yellow;
    color: rgb(2, 22, 2);
}

.footer-content {
    padding: 30px;
    color: orange !important;
}

.footer-section {
    background-color: #020229;
    color: white;

}

.nav .nav-item .nav-link {
    color: orange !important;
}