.registration-section {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 15px;
    padding: 30px;
    /* background-color: aliceblue; */

}

.registration-section h4 {
    color: #0a0342;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1.5em;
}

.registration-section span {
    color: #0a0342;
    font-size: 18px;
    font-family: 'Cabin';
    letter-spacing: 0.8px;
    line-height: 1.5em;
    text-align: center;
}

.registration-button {
    color: white;
    background-color: rgb(4, 1, 65) !important;
    border: 1px solid transparent !important;
}

.registration-button:hover {
    background-color: rgb(4, 1, 65) !important;
    color: white;
    border: 1px solid transparent !important;
    transform: scale(1.05);
    opacity: 1;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.registration-button:focus {
    background-color: rgb(4, 1, 65) !important;
    color: white;
    border: 1px solid transparent !important;
    transform: scale(1.05);
    opacity: 1;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
