.services-section {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: auto;
    background-image: url("../src/assets/action.webp");
    /* background-color: rgb(185, 185, 209); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    background-blend-mode: lighten !important;

}

.services-title {
    margin-top: 40px;

}

.services-description {
    color: white;
}

.services-grid {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
    justify-content: center;
}

.services-box {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin: 100px;
}

.services-card {
    color: rgb(2, 2, 74) !important;
    height: 300px;
    width: 400px;
    background-color: white !important;
    /* border-radius: 20px !important; */
    /* backdrop-filter: blur(10px) !important; */
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    gap: 30px;

}

.services-icons {
    height: 40px;
    width: 40px;
}

.services-box:hover .services-card {
    filter: blur(3px) brightness(50%);
    transform: scale(0.95);

}

.services-box:hover .services-card:hover {
    filter: blur(0) brightness(100%);
    transform: scale(1.22) translateY(-5px);
    z-index: 10;
    color: orange !important;
}